@model ProductDetailViewModel

<div class="card mb-3 mt-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
            {
                <img src="~/Images/Products/@Model.ImagePath" class="img-fluid rounded-start" alt="...">
            }
            else
            {
                <img src="~/Images/NoImage.jpg" class="img-fluid rounded-start" alt="...">
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h5 class="card-title">@Model.Description</h5>

            </div>
        </div>
    </div>
</div>