
<div class="card text-bg-dark">
	<img src="~/Images/products/useb.jpeg" class="card-img" style="height:570px">
	<div class="card-img-overlay">
		<div>
      <h2 class="display-4 fw-normal">En lezzetli pizzalar</h2>
      <p class="lead fw-normal">Çok yakınında</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
	
	</div>
</div>
